<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CP Amateur Astronomers</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body>
    <div class="dark-background">
        <h1><strong>COLLEGE PARK AMATEUR ASTRONOMERS</strong></h1>
        <div id="nav-bar">
            <a href="/" class="nav-link">HOME</a>
            <div class="nav-vertical-bar"></div>
            <a href="/observation" class="nav-link">OBSERVATION PARAMATERS</a>
            <div class="nav-vertical-bar"></div>
            <a href="/meetup" class="nav-link">MEETUPS</a>
        </div>
    </div>

    <div id="thankyou">
        <h2>Thank You for your Proposed Meetup!</h2>
        <div class="center">We will be in touch with your shortly with more details...</div>
    </div>
</body>
</html>
