<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CP Amateur Astronomers</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="dark-background">
        <h1><strong>COLLEGE PARK AMATEUR ASTRONOMERS</strong></h1>
        <div id="nav-bar">
            <a href="/" class="nav-link">HOME</a>
            <div class="nav-vertical-bar"></div>
            <a href="/observation" class="nav-link">OBSERVATION PARAMATERS</a>
            <div class="nav-vertical-bar"></div>
            <a href="/meetup" class="nav-link">MEETUPS</a>
        </div>
    </div>

    <div id="thankyou">
        <h2>Thank You for Subscribing!</h2>
        <div class="center">Your support really means a lot...</div>
        <div class="center">We look forward to keeping you up to date using the email you have provided:</div>
        <div class="center highlight"><%- email %></div>
    </div>
</body>
</html>
